@{
    ViewData["Title"] = "Standorte";
}
   <div class="text-white text-center jumbotron jumbotron-fluid bg-dark">
  <div class="container">
    <h1 class="display-4">Standorte</h1>
    <hr />
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label  class="control-label">Typ:</label>
            <select name="typ" id="typ" class="form-control" asp-items="@ViewBag.typ"></select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label  class="control-label">Dimension:</label>
            <select  name="dimension" id="dimension" class="form-control" asp-items="@ViewBag.dimension"></select>
            </div>
        </div>
    </div>
    <hr />
    <button onclick="filllocationTable('@Url.Action("getStandorte")','@Url.Action("getStandort")','@Url.Action("getCharacter")')" class="btn btn-light">Suchen</button>
        <hr />
     <div class="col-12">
     <table   id="locationtable"   class="table table-bordered table-striped table-hover table-image invisible">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Typ</th>
            <th>Dimension</th>
            <th>Einwohner insgesamt</th>
            <th>Mehr</th>
        </tr>
        </thead>
        <tbody  id="tBody"></tbody>
    </table>
    </div>
</div>
<partial name="_ModalsPartial" />
<script src="~/js/orte.js" type="text/javascript"></script>
<script src="~/js/characters.js" type="text/javascript"></script>
<script src="~/js/episoden.js" type="text/javascript"></script>